.education-cntnt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  padding: 5rem 0 0 0;

  .education-title{
      color: var(--first-color);
  }
}

