.education-txt-cntnt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .education-txt {
    width: 80%;
    color: #d7d7d9;

    .paragraph {
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      color: var(--first-color);
    }
  }
}

@media only screen and (max-width: 768px){
  .education-txt-cntnt{
    .education-txt{
      font-size: 14px;
      text-align: justify;
      word-spacing: -5px;
      .paragraph{
        font-size: 14px;
      }
    }
  }
}