div {
  .title {
    color: var(--first-color);
    margin: 1rem;
    // font-family: 'Teko', sans-serif;
    font-family: 'Gemunu Libre', sans-serif;
  }

  .title-black {
    color: var(--bg-color);
  }
}

@media only screen and (max-width: 768px){
  div{
    .title{
      text-align: center;
      font-size: 22px;
    }
  }
}
