.card {
  width: 16rem;
  min-height: 10rem;
  border: 3px solid #d7d7d9;
  border-radius: 10px;
  color: #d7d7d9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 2rem;
  overflow: hidden;

  .card-title{
      font-size: 1.2rem;
      margin: 1rem 1rem 0 1rem;
  }

  .card-txt {
    text-align: justify;
    margin: 20px 20px;
  }

  .card-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      width: 14rem;
      padding: 5px 10px;
      margin-top: 0;
      margin-bottom: 10px;
      border: 3px solid #d7d7d9;
      border-radius: 10px;
      text-decoration: none;
      color: #d7d7d9;
      font-weight: 600;
    }

    a:hover{
      color: #242426;
      background-color: #d7d7d9;
    }
  }
}
