.home {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--bg-color);

    li {
      margin: 2rem;
      list-style-type: none;

      a {
        text-decoration: none;
        color: var(--first-color);
        font-weight: 600;
        padding-bottom: 7px;
      }

      a:active {
        border-bottom: solid 4px var(--second-color)
      }
    }
  }

  .home-cntnt {
    display: flex;
    flex-direction: row;
    padding-top: 5rem;

    .home-txt {
      width: 60%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      color: var(--second-color);

      .Typewriter {
        height: 14rem;
      }

      .Typewriter__wrapper {
        font-weight: bold;
        font-size: 4rem;
        color: var(--second-color);
      }

      .Typewriter__cursor {
        font-weight: bold;
        font-size: 4rem;
        color: var(--second-color);
      }
      h3 {
        font-size: 40px;
      }

      h1 {
        font-size: 72px;
        margin-bottom: 2rem;
        color: var(--first-color);
      }

      a {
        display: flex;
        justify-content: center;
        width: 14rem;
        padding: 10px 10px;
        margin-top: 0;
        margin-bottom: 20px;
        border: 3px solid var(--second-color);
        border-radius: 10px;
        text-decoration: none;
        color: var(--second-color);
        font-weight: 600;
      }
      a:hover {
        color: #242426;
        background-color: var(--second-color);
      }
    }

    .home-img {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .home {
    ul{
      display: none;
    }
    .home-cntnt {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .home-txt{
        order: 2;
        width: 100%;
        height: 54vh;
        justify-content: center;

        .Typewriter{
          height: 10rem;
        }

        .Typewriter__wrapper{
          font-size: 2rem;
        }

        .Typewriter__cursor{
          font-size: 2rem;
        }
      }
      .home-img{
        order: 1;
        width: 100%;
        padding-top: 2rem;

        img{
          width: 10rem;
          height: 10rem;
        }
      }
    }
  }
}
