.home {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .home-cntnt {
    width: 100%;
    display: flex;
    flex-direction: row;

    .home-txt {
      width: 50%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--second-color);

      .typewriter-effect {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .name {
          font-size: 4rem;
          color: var(--second-color);
        }

        .ocupation {
          font-size: 2rem;
        }
      }

      .Typewriter {
        height: 14rem;
      }

      .Typewriter__wrapper {
        font-weight: bold;
        font-size: 2rem;
        color: var(--second-color);
      }

      .Typewriter__cursor {
        font-weight: bold;
        font-size: 2rem;
        color: var(--second-color);
      }
      h3 {
        font-size: 40px;
      }

      h1 {
        font-size: 72px;
        margin-bottom: 2rem;
        color: var(--first-color);
      }

      .fa-file-download,
      .fa-github {
        position: relative;
        top: 4px;
        margin: 0 0 0 0.8rem;
      }

      a {
        display: flex;
        justify-content: center;
        width: 14rem;
        padding: 10px 10px;
        margin-top: 0;
        margin-bottom: 20px;
        border: 2px solid var(--second-color);
        border-radius: 10px;
        text-decoration: none;
        color: var(--second-color);
        font-weight: 600;
      }
      a:hover {
        color: #242426;
        background-color: var(--second-color);
      }
    }

    .home-img {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 15rem;
        height: 27rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home {
    
    justify-content: flex-start;
    .container{
      bottom: 1.9rem;
    }
    ul {
      display: none;
    }
    .home-cntnt {
      margin-top: 5rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .home-txt {
        order: 2;
        width: 100%;
        height: 44vh;
        justify-content: center;

        .typewriter-effect {
          .name {
            font-size: 2rem;
          }

          .ocupation {
            font-size: 1rem;
          }
        }

        .Typewriter {
          height: 10rem;
        }

        .Typewriter__wrapper {
          font-size: 2rem;
        }

        .Typewriter__cursor {
          font-size: 2rem;
        }

        a {
          display: flex;
          justify-content: center;
          width: 14rem;
          padding: 8px 8px;
          margin-top: 0;
          margin-bottom: 20px;
          border: 2px solid var(--second-color);
          border-radius: 10px;
          text-decoration: none;
          color: var(--second-color);
          font-weight: 600;
        }
      }
      .home-img img {
        width: 8rem;
        height: 10rem;
        order: 1;
      }
    }
  }
}
