* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

:root {
  --first-color:  #B68973;
  --second-color: #FAF3E0;
  --bg-color: #1E212D;
  --about-bg-color: #2b2e3b;
}



.transition {
  transition-property: color background-color font-size;
  transition-duration: 1s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

body::-webkit-scrollbar{
  width: 0.8rem;
}

/*fundo da barra*/

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

/*indicador de altura da pagina*/

::-webkit-scrollbar-thumb{
  background: var(--first-color);
  border-radius: 5px;
}




