* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

:root {
  --first-color:  #0378a6;
  --second-color: #d7d7d9;
  --bg-color: #242426;
  --about-bg-color: #343437;
}



.transition {
  transition-property: color background-color font-size;
  transition-duration: 1s;
  transition-delay: 0s;
  transition-timing-function: linear;
}


