* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

:root {
  --first-color:  #6D9886;
  --second-color: #FAF3E0;
  --bg-color: #191919;
  --about-bg-color: #6D9886;
}



.transition {
  transition-property: color background-color font-size;
  transition-duration: 0.6s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

body::-webkit-scrollbar{
  width: 0.3rem;
}

/*fundo da barra*/

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

/*indicador de altura da pagina*/

::-webkit-scrollbar-thumb{
  background: var(--first-color);
  
}




